@CHARSET "UTF-8";
table.stat {
	border-collapse: collapse;
	font-size: 10pt;
	}
.stat thead tr { border: none; }
.stat thead th:nth-child(1){ 	border-width: 0; }
.stat thead th:nth-child(2){ 	border-width: 2px 1px 2px 2px;}
.stat thead th:last-child{ border-width:2px 2px 2px 1px;}
.stat thead th {	text-align: center; border-width: 2px 1px; width: 10ex; }
.stat tbody tr:nth-child(odd){ background-color : #eee; }
.stat tbody tr:nth-child(even){ background-color : #ddd; }
.stat tbody tr:nth-child(1) th { border-width: 2px 2px 0 2px; }
.stat tbody th { border-width: 0px 2px; text-align: right; }
.stat th { padding: 0px 2px; }
.stat tr:last-child { border-width: 0 2px 2px 2px; }
.stat tr { border-width: 0 2px; border-style: solid; border-color: gray; }
.stat td, th { border-width: 0px 1px; border-style: solid; border-color: gray; }
